/* Estilos generales del navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px;
  height: 125px;
  background-color: white; /* Fondo blanco */
  border-radius: 16px; /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
}

/* Estilo para el logo */
.imgLogo {
  width: 100px; /* Ajusta el tamaño de la imagen */
  height: auto;
}

/* Estilo del menú del navbar */
.navbarMenu {
  display: flex;
  align-items: center;
  gap: 20px; /* Espacio entre los enlaces */
}

/* Estilo para los enlaces del menú */
.navbarMenu a {
  color: black; /* Color del texto por defecto */
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.4s ease, color 0.4s ease; /* Transición suave */
  padding: 10px;
  border-radius: 12px; /* Borde redondeado en los enlaces */
}

/* Hover de los enlaces del menú */
.navbarMenu a:hover {
  background-color: black; /* Fondo negro al pasar el mouse */
  color: white; /* Texto blanco al pasar el mouse */
}

/* Estilo del carrito */
.cartWidget {
  width: 30px; /* Ajusta el tamaño del ícono del carrito */
  height: auto;
}
