/* Contenedor principal */
.itemDetailContainer {
  display: flex;
  gap: 24px;
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Imagen a la izquierda */
.imageContainer {
  padding: 16px;
  flex: 2;
}

.productImage {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Contenedor derecho */
.infoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 21px;
  justify-content: start;
  align-items: center;
  padding: 16px;
}

/* Mensaje de retiro */
.pickupMessage {
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: #00b506;
}

/* Título */
.productTitleDetail {
  font-size: 2rem;
  font-weight: 600;
  color: #222;
}

/* Precio */
.productPriceDetail {
  font-size: 3rem;
  font-weight: bold;
  margin: 8px 0;
}

.productDescriptionDetail {
  font-size: 1rem;
  font-weight: 400;
  color: #555;
  line-height: 1.3;
  text-align: justify;
  letter-spacing: 0.1px;
}

/* Sección de promociones */
.promoContainer {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  margin: 12px 0;
  border: 1px solid #ddd;
}

.promoText {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
}

.promoIcons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 8px;
}

.promoIcons img {
  width: 55px;
  height: 35px;
}
